
/* The Modal (background) */
            .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
            }


            /* The Close Button */
            .close {
                color: white;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }

            /* Modal Header */
            .modal-header {
                padding: 2px 16px;
                border-bottom: 1px solid lightblue;
                 background-color: blue;
                 color:white;
                 border-radius: 5px;
                 top:-20px;
                 width: 98%;
                 margin-left:1%;
                 margin-right:1%;
                 
            }

            /* Modal Body */
            .modal-body {padding: 2px 16px;
            min-height: 60px;
            border-radius: 20px;
           
               
            }

            /* Modal Footer */
            .modal-footer {
                padding: 2px 16px;
                background-color: #5cb85c;
                color: white;
            }

            /* Modal Content */
            .modal-content {
                position: relative;
                background-color: #fefefe;
                margin: auto;
                margin-top:100px;
                padding: 0;
                border: 1px solid #888;
                width: 50%;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
                -webkit-animation-name: animatetop;
                -webkit-animation-duration: 0.10s;
                animation-name: animatetop;
                animation-duration: 0.6s;
                   /* border-radius: 5px;*/
            }

            /* Add Animation */
            @-webkit-keyframes animatetop {
                from {top: -200px; opacity: 0} 
                to {top: 0; opacity: 1}
            }

            @keyframes animatetop {
                from {top: -200px; opacity: 0}
                to {top: 0; opacity: 1}
            }